.container {
  margin: 20px;
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal {
  background: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
  padding-top: 20px;
  padding-left: 50px;
}
.form-group {
  margin-top: 20px;

}
input {
  width: 40%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  margin-top: 5px;
  margin-left: 30px;
}

input:hover {
  border: 1px solid rgb(43, 151, 43);
}

textarea {
  width: 40%;
  height: 90px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  margin-top: 5px;
  margin-left: 30px;
}

textarea:hover {
  border: 1px solid rgb(43, 151, 43);
}

label {
  color: rgb(43, 151, 43);
  font-size: larger;
}

form {
  margin-top: 10px;
  width: 900px;
  text-align: left;
}

a {
    color: rgb(43, 151, 43);
    font-weight: 700;
    transition: filter 0,2s;
    text-decoration: none;
    margin-left: 300px;
}

.logo {
  position: absolute;
  margin-left: 600px;
  margin-top: 200px;

}



