
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tbody *ngFor="let ficha of ficha">
          <tr class="table-active">
            <th scope="row">{{ ficha.cliente }}</th>
            <td>{{ ficha.solicitante }}</td>
            <td>{{ ficha.descricao }}</td>
            <td>{{ ficha.data }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group text-center">
      <a [routerLink]="['/ficha/novo']" class="btn btn-default">
        <span aria-hidden="true"></span>Voltar
      </a>
    </div>
  </div>
