@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
margin: 0;
padding: 0;
border: 0;
color: darkgreen;
background: rgb(184, 240, 191);
}

body {
background:  rgb(184, 240, 191);
}

header {
padding: 42 px;
border-bottom: 1px solid #333;
background: rgba(0, 0, 0, 0.1);

}

.logo {
  margin-left: 20px;
}

.header {
  margin-top: 5px;
  text-align: center;
}

.links {
text-align: center;
}

.links a {
color: #333;
font-size: 18px;
line-height: 28px;
margin: 0 16px ;
padding-bottom: 3px;
text-decoration: none;
}
.links a:hover {
color: darkgreen;
transition: color 200ms;
}

#wrapper {
text-align: center;
padding: 32px;
}

#wrapper img {
border-radius: 50%;
border: 5px solid darkgreen;
margin-bottom: 32px;
height: 200px;
}

#wrapper h1 {
font-size: 42px;
line-height: 34px;
font-weight: bold;
}

#wrapper h2 {
font-size: 24px;
line-height: 34px;
font-weight: normal;
margin-top: 8px;
opacity: 0.8;
}

#wrapper p {
max-width: 500px;
margin: 32px auto;
font-size: 24px;
line-height: 30px;
}

#links-footer {
  margin-bottom: 20px;
}
#links-footer a {
border-bottom: 1px solid darkgreen;
}
.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.card_image img {
  width: 100%;
  height: 150px;
}

.card_content,
.card_info {
  padding: 24px;
  filter: brightness(90%);
  padding: 5px 2px;
  text-align: center;
}

.card_info {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.card_price {
  filter: brightness(90%);
  padding: 5px 2px;
  border-radius: 20px;
  margin-left: 90px;
}
.card_info a {
  text-align: center;
  text-decoration: none;
}
.card_info a:hover {
  color: darkgreen;
  transition: color 200ms;
}
.card_info p {
  font-size: 16px;
  color: rgb(43, 151, 43);
}

.ficha {
  text-align: center;
  margin-top: 20px;
}

.ficha p {
  font-size: 16px;
  color: #333;
}

.ficha a {
  text-decoration: none;
  font-size: larger;
  color: rgb(43, 151, 43);
}

.ficha a:hover {
  color: darkgreen;
  transition: color 200ms;
}
